* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/Razzo-Space-X.jpg);
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    color: #fff;
}

img {
    border-radius: 50%;
    display: block;
    margin: 100px auto;
}